{% extends "detail.html" %}

{% block title %}Add a new ssh key{% endblock %}
{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'sshkbase/list-style.css' %}">
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'sshkbase/key-detail.css' %}">
{% endblock %}

{% block specific-headline %}
    <h2><a href="{% url 'sshkbase:user-keys' %}">SSH Keys</a>/New</h2>
{% endblock %}

{% block content %}
    {% if error_msg %}
        <h2 style="color: red;">Error: {{ error_msg }}</h2>
    {% endif %}

    <form action="{% url 'sshkbase:key-send' %}" method="post">
        {% csrf_token %}
        <dl class="form-group">
            <dt>
                <label for="key-title-box">Title</label>
            </dt>
            <dd>
                <input id="key-title-box" name="title" class="form-box" type="text">
            </dd>
        </dl>
        <dl class="form-group">
            <dt>
                <label for="key-box">Key</label>
            </dt>
            <dd>
                <textarea id="key-box" name="key" class="form-box"
                          placeholder='SSH public key, begins with "ssh-rsa", "ssh-ed25519"'></textarea>

            </dd>
        </dl>
        <dl class="form-group">
            <dt>Permissions</dt>
            <dd>
                <input id="key-perm-read" name="perm-read" type="checkbox">
                <label class="checkbox-label" for="key-perm-read">Read</label>
                <input id="key-perm-write" name="perm-write" type="checkbox">
                <label class="checkbox-label" for="key-perm-write">Write</label>
            </dd>
            <dd style="margin-top: 15px">
                <button class="add-button boxed-button">
                    <p>Add key</p>
                    <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                         class="h-6 w-6"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M 12 2 L 12 22 M 2 12 L 22 12" stroke-linejoin="round"
                              stroke-linecap="round"></path>
                    </svg>

                </button>
            </dd>
        </dl>
    </form>

{% endblock %}