{% extends "detail.html" %}
{% block title %}Change password{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <style>
        .error-msg {
            text-align: center;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #fb4934;
            background: #fb493410;
        }
    </style>
{% endblock %}
{% block specific-headline %}
    <h2><a href="{% url 'sshkbase:user-update' %}">Change account information</a>/Change password</h2>
{% endblock %}
{% block content %}
    {% if error_msg %}
        <div class="error-msg">
            {{ error_msg }}
            {% if passwd_errors %}
                <ul>
                    {% for err in passwd_errors %}
                        <li>{{ err }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}

    <form action="{% url 'sshkbase:user-update-password-send' %}" method="post">
        {% csrf_token %}
        <dl class="form-group">
            <dt>
                <label for="password-box">New password</label>
            </dt>
            <dd>
                <input id="password-box" class="form-box" name="password" type="password">
            </dd>
        </dl>
        <dl class="form-group">
            <dt>
                <label for="password-confirm-box">New password confirmation</label>
            </dt>
            <dd>
                <input id="password-confirm-box" class="form-box" name="password-confirm" type="password">
            </dd>
        </dl>
        <div class="buttons" style="margin-top: 15px;">
            <button id="save-changes-button" class="boxed-button add-button">
                <p>Change password</p>
                <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                     class="h-6 w-6"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M 12 2 L 12 22 M 2 12 L 22 12" stroke-linejoin="round"
                          stroke-linecap="round"></path>
                </svg>
            </button>
        </div>
    </form>
{% endblock %}