<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new ssh key</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sshkbase/base.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/index-style.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/detail-style.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/key-add-style.css' %}">
</head>
<body>

<header>
    <a href="{% url 'sshkbase:user-keys' user.nickname %}" class="button-link">
        <button class="slide-button slide-reverse-button" style="--hovered-color: #f0f0f0">
            <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                 class="h-6 w-6"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M9 5l-7 7m0 0l7 7m-7-7H20" stroke-linejoin="round"
                      stroke-linecap="round"></path>
            </svg>
            <p id="back-to-user-detail-button-p">Back to user page</p>
        </button>
    </a>
</header>
<main>
    <div class="headline">
        <h1>{{ user.name }}</h1>
        <h3>@{{ user.nickname }}</h3>
    </div>
    <div class="flexbox-container">

        <div class="sidebar">
            <ul>
                <li>
                    <a href="{% url 'sshkbase:user-detail' user.nickname %}" class="sidebar-link">Profile information</a>
                </li>
                <li>
                    <a href="{% url 'sshkbase:user-keys' user.nickname %}" class="sidebar-link"><u>SSH Keys</u></a>
                </li>
                <hr class="solid">
            </ul>
        </div>
        <div class="content-container">
            <div class="headline">
                <h2><a href="{% url 'sshkbase:user-keys' user.nickname %}">SSH Keys</a>/New</h2>


            </div>
            <hr class="solid">

            {% if error_msg %}
                <h2 style="color: red;">Error: {{ error_msg }}</h2>
            {% endif %}


            <form action="{% url 'sshkbase:key-send' user.nickname %}" method="post">
                {% csrf_token %}
                <dl class="form-group">
                    <dt>
                        <label for="key-title-box">Title</label>
                    </dt>
                    <dd>
                        <input id="key-title-box" name="title" type="text">
                    </dd>
                </dl>
                <dl class="form-group">
                    <dt>
                        <label for="key-box">Key</label>
                    </dt>
                    <dd>
                    <textarea id="key-box" name="key" placeholder='SSH public key, begins with "ssh-rsa", "ssh-ed25519"'></textarea>

                    </dd>
                </dl>
                <dl class="form-group">
                    <dt>Permissions</dt>
                    <dd>
                        <input id="key-perm-read" name="perm-read" type="checkbox">
                        <label class="checkbox-label" for="key-perm-read">Read</label>
                        <input id="key-perm-write" name="perm-write" type="checkbox">
                        <label class="checkbox-label" for="key-perm-write">Write</label>
                    </dd>
                    <dd style="margin-top: 15px">
                        <button class="add-button boxed-button">
                        <p>Add key</p>
                        <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                             class="h-6 w-6"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M 12 2 L 12 22 M 2 12 L 22 12" stroke-linejoin="round"
                                  stroke-linecap="round"></path>
                        </svg>

                    </button>
                    </dd>
                </dl>
            </form>

        </div>
    </div>
</main>

</body>
</html>