<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User {{ user }} details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sshkbase/base.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/index-style.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/detail-style.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/buttons.css' %}">
</head>
<body>

<header>
    <a href="{% url 'sshkbase:index' %}" class="button-link">
        <button class="slide-button slide-reverse-button" id="back-to-home-button" style="--hovered-color: #f0f0f0">
            <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                 class="h-6 w-6"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M9 5l-7 7m0 0l7 7m-7-7H20" stroke-linejoin="round"
                      stroke-linecap="round"></path>
            </svg>
            <p>Back to home page</p>
        </button>
    </a>
</header>
<main>
    <div class="headline">
        <h1>{{ user.name }}</h1>
        <h3>@{{ user.nickname }}</h3>
    </div>
    <div class="flexbox-container">

        <div class="sidebar">
            <ul>
                <li>
                        <a href="{% url 'sshkbase:index' %}" class="sidebar-link">Home page</a>
                    </li>
                    <li>
                        <a href="{% url 'sshkbase:user-detail' user.nickname %}" class="sidebar-link">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'sshkbase:user-update' %}" class="sidebar-link">Change account info.</a>
                    </li>
                    <li>
                        <a href="{% url 'sshkbase:user-keys' %}" class="sidebar-link"><u>SSH Keys</u></a>
                    </li>
                <hr class="solid">
            </ul>
        </div>
        <div class="content-container">
            <div class="headline">
                <h2>SSH Keys</h2>
                <a href="{% url 'sshkbase:add-key' %}" class="button-link">
                    <button class="add-button boxed-button">
                        <p>Add key</p>
                        <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                             class="h-6 w-6"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M 12 2 L 12 22 M 2 12 L 22 12" stroke-linejoin="round"
                                  stroke-linecap="round"></path>
                        </svg>

                    </button>
                </a>

            </div>

            <hr class="solid">

            {% if keys %}
                <div class="list">
                    {% for k in keys %}
                        <div class="line">
                            <div class="key-info">
                                <h4>{{ k.title }}</h4>
                                <p>{{ k.key }}</p>
                                <h5>Added {{ k.addDate }}</h5>
                            </div>
                            <a href="{% url 'sshkbase:key-detail' keyId=k.id %}" class="button-link">
                                <button class="slide-button">
                                    <p>View details</p>
                                    <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                         class="h-6 w-6"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round"
                                              stroke-linecap="round"></path>
                                    </svg>

                                </button>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3>No SSH keys yet added.</h3>
            {% endif %}
        </div>
    </div>
</main>

</body>
</html>