<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sshkbase/base.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/center-box.css' %}">
    <style>
        .user-box > span {
            font-size: 11px;
            font-style: italic;
            margin-bottom: 30px;
            color: #888;
        }
    </style>
</head>
<body>

<header>
    <a href="{% url 'sshkbase:index' %}" class="button-link">
        <button class="slide-button slide-reverse-button" style="--hovered-color: #f0f0f0">
            <svg stroke-width="4" stroke="currentColor" id="back-to-home-button" viewBox="0 0 24 24" fill="none"
                 class="h-6 w-6"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M9 5l-7 7m0 0l7 7m-7-7H20" stroke-linejoin="round"
                      stroke-linecap="round"></path>
            </svg>
            <p>Back to home page</p>
        </button>
    </a>
</header>

<div class="login-box">

    <!--Information is sent to the server with 'form' markers like this one, with 'method="post"'.
                When clicking on any button inside the form, we get redirected to the url in 'action'.
                The url is a special url, tells the server to process the POST request sent and redirect
                us to another url immediately
                For this particular form, see 'user-add' in views.py. In PyCharm, CTRL + LCLICK on
                the 'action' value-->
    <form action="{% url 'sshkbase:user-new-send' %}" method="post">
        {% csrf_token %}
        <div class="user-box">
            <input id="nickname-box" required="required" name="nickname" type="text"{% if nickname_try %}
                   value="{{ nickname_try }}" {% endif %}>
            <label for="nickname-box">Nickname</label>
        </div>
        <div class="user-box">
            <input id="name-box" required="required" name="full-name" type="text"{% if name_try %}
                   value="{{ name_try }}" {% endif %}>
            <label for="name-box">Full name</label>
        </div>
        <div class="user-box">
            <input id="email-box" required="required" name="email" type="text"{% if name_try %}
                   value="{{ email_try }}" {% endif %}>
            <label for="email-box">Email address</label>
        </div>
        <div class="user-box">
            <input id="password-box" required="required" name="password" type="password"{% if name_try %}
                   value="" {% endif %} style="margin-bottom: 5px;">
            <label for="password-box">Password</label>
            <span>The password must be at least 8 characters long.</span>
        </div>
        {% if error_msg %}
            <div class="error-msg">
                {{ error_msg }}
                {% if passwd_errors %}
                    <ul>
                    {% for err in passwd_errors %}
                        <li>{{ err }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
        <div style="text-align: center;">
            <button id="register-button" class="boxed-button">
                Register
            </button>
        </div>
    </form>
</div>

</body>
</html>