<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    {% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'sshkbase/base.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'sshkbase/center-box.css' %}">
{% endblock %}
</head>
<body>

<header>
    {% block header %}
        <a href="{% url 'sshkbase:index' %}" class="button-link">
            <button class="slide-button slide-reverse-button" style="--hovered-color: #f0f0f0">
                <svg stroke-width="4" stroke="currentColor" id="back-to-home-button" viewBox="0 0 24 24" fill="none"
                     class="h-6 w-6"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 5l-7 7m0 0l7 7m-7-7H20" stroke-linejoin="round"
                          stroke-linecap="round"></path>
                </svg>
                <p>Back to home page</p>
            </button>
        </a>
    {% endblock %}
</header>

<div class="login-box">
    {% block content %}
        Center box template
    {% endblock %}
</div>

</body>
</html>